.product-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    width: 300px;
    min-height: 300px;
    margin-right: 18px;
}

.product-card img{
    height: 150px;
    width: 270px;
}

.product-card p{
    width: 250px;
}